.carrousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  @media screen and (min-width: 992px) {
    width: 40%;
    justify-content: center;
    margin: 3rem auto;
  }
}

h2 {
  font-family: "Jura", serif;
  font-size: 30px;
}

.carrousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 225%;
  height: 200%;
  gap: 20px;
  border-radius: 50px;
  border-radius: 50px;
  padding: 4rem;
  background: #7c988f;
  box-shadow: 17px 17px 34px #566762, -17px -17px 34px #d0d7d4;
}
.carroussel2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.image-container img {
  width: 80%;
}

p {
  font-family: "Jura", serif;
}

.bouton-precedent,
.bouton-suivant {
  background-color: rgba(18, 61, 38, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem;
  font-size: xxx-large;
}

.image-container img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: "Jura", serif;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.carroussel-button {
  color: #090909;
  width: 200px;
  padding: 0.1em 1em;
  font-size: 18px;
  border-radius: 0.5em;

  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #638375, -6px -6px 12px rgba(99, 157, 142, 0);
  font-family: "Jura", serif;
}

.name {
  display: flex;
  gap: 0.5rem;
}
