.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border: 2px solid #4f6b5f;
  width: 13rem;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchpicture {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.picturebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.input {
  border: none;
  outline: none;
}
